
#wrapper {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: grey;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


@media(min-width:768px) {


    #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

}