<!DOCTYPE html>
<html>
<head>
	<title>About PSDG</title>
</head>
<body>

	<h2><b>Power System Design Group</b></h2>

	<h3>We provide detailed electrical solutions.</h3>

	<p>To support large projects involving complex electrical power distribution system, studies, protection studies, arc-flash studies, harmonic studies. We carry out site review, witness testing of equipment, installation records, with help of professionals and certified technologist.</p>

	<p>Participate in early phases of various projects to prepare formal specifications and drawings and look after clients’ interest for long life of the facilities-such as Industrial, large commercial and plant utilities. Some of the industrial projects are with large EPC companies.</p>

	<p>Carry out global procurement efforts to enhance timely deliveries with experts in field.</p>

	<p>Apply associated standards such as CSA, ANSI, IEEE, UL, IEC, NFPA, NETA standards.</p>

	<p>We have group of experienced P. Eng. who spend their time for excellent service and make the project successful.</p>

	<pre> {{ctrl | json}} </pre>

</body>
</html>