<!DOCTYPE html>
<html>
<head>
	<title>PSDG Services</title>
</head>
<body>

	<h1><b>Canadian and US projects</b></h1>

	<p>· Load flow studies -260 kV and below</p>

	<p>· Short circuit studies –with multiple sources , various scenarios, </p>

	<p>· Protection coordination with digital relays, special equipment</p>

	<p>· Motor starting studies, Sag mitigation evaluation</p>

	<p>· Relay setting sheets</p>

	<p>· Harmonic studies, Mitigation</p>

	<p>· Equipment evaluation</p>

	<p>· Power quality monitoring studies</p>

	<p>· Site data collection</p>

	<p>· Grounding studies</p>

	<p>· Project specification services</p>

	<p>· Vendor drawings and proposal reviews</p>

	<p>· Energy analysis for plant</p>

	<p>· Substation/Plant/electrical rooms communication system and monitoring</p>

	<p>· Test record evaluation</p>


</body>
</html>