<!DOCTYPE html>
<html>
<head>
	<title>PSDG Thoughts</title>
</head>
<body>
<p>
    <strong><h3>Myths that requires to be resolved to run system efficiently</h3></strong>
</p>
<p>
    Plant efficiency is difficult to evaluate. True this takes time as many parameters are involved. However it is possible to get a very good feel from the
    system selections and carry out some studies.
</p>
<p>
    Upgrade of old system s difficult. While this requires a shutdown of possible few days, it does help to upgrade and normally it is done area by area. This
    is a sure way of success.
</p>
<p>
    Old grand fathered facilities do not require expensive studies. Not true. CSA IEEE standard requires this to be completed to make all facilities safe.
</p>
<p>
    VFD’s are not good for smaller system. The reason VFD’s are selected is based on mechanical system requirement. With correct selection efficient operation
    is assured. Some studies are required to ensure that plant does not have resonance, or higher losses.
</p>
<p>
    Power factor corrections are not good near harmonic producing equipment. True, however this can be resolved with good filter assemblies or possibly
    mitigating equipment selected for the right purpose.
</p>
<p>
    Monitoring of power plant is very difficult with so many parameters. Modern day relays, metering, sensors and other communication devices have a great way
    to make the operation monitoring simple. This however takes first effort and initial investment of time and money.
	</p>

</body>
</html>